*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: cursive;
    font-size: 12px;
    text-align:center;
    background-color:aquamarine;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/* NAVBAR ESTILO */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #fff;
}

.nav-links a{
    color: #fff;
}


/* LOGO */
.logo{
    font-size: 32px;
}


/* NAVBAR MENU */
.menu{
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover{
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li{
    padding: 9px 14px;
}


/* MENU SUSPENSO */
.service{
    position: relative;
}

.dropdown{
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute;
    display: none;
    border-radius: 8px;
    top: 35px;
}

.dropdown li + li{
    margin-top: 10px;
}

.dropdown li{
    padding: 0.5em 1em;
    width: 8em;
    text-align: center';
}

.dropdown li:hover{
    background-color: #4c9e9e;    
}

.services:hover .dropdown{
    display: block;
}

/* #################################################################### */

.menu{
    list-style: none;
    border: 1px solid #c0c0c0;
    float: left;
}

.menu li{
    position: relative;
    float: left;
    border-right: 1px solid #c0c0c0;
}

.menu li a{
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

p{
    display: flex;
    font-size: 20px;    
}